# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Frontend

# dependencies
/frontend/node_modules
/frontend/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode

# Backend

# venv
.venv/

# python cache
*.pyc
__pycache__/

# ??
instance/

# test
.pytest_cache/
.coverage
htmlcov/

# build
dist/
build/
*.egg-info/

# dev
*.swo
*.swp
.DS_Store
set_env_vars.sh

# pyenv
.python-version

# media
local/

FindItNow.sqlite3