/* MessageBoard.css */
.making-post {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.making-post p{
  text-align: left;
  line-height: 0.3;
}

.making-post h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.making-post form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.making-post input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.making-post input[type="file"] {
  margin-right: 10px;
}

.making-post button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #699bd9;
  color: white;
  cursor: pointer;
}

.making-post button:hover {
  padding: 10px;
  background-color: #395ba0;
}

.making-post ul {
  list-style-type: none;
  padding: 0;
}

.making-post li {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.posted p{
  text-align: center;
}
