/* Home.css */

.home {

}

.li-list{
  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  margin: 5vh;
}

.li-container{
  display: flex;
  align-items: center;

  border: 1px solid #ddd; /* 明るいグレーの細いボーダー */
  border-radius: 4px; /* 角を少し丸く */
  padding: 16px; /* 内側の余白を追加 */
  background-color: #fafafa; /* 柔らかい背景色 */
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.li-img {
  width: 200px; /* 画像の幅を指定 */
  height: auto; /* アスペクト比を維持 */
  margin-right: 20px; /* 画像とテキストの間のスペース */
}

.li-place,
.li-name {

}