/* Header.css */
.header {
  background-color: #007bff;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border-bottom: 2px solid #0056b3;
}

.header button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.header button:hover {
  background-color: #0056b3;
  color: #ffffff;
}

.upload-section {
  margin: 20px auto;
  max-width: 500px;
  text-align: left;
}

.upload-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1b6679;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.upload-button:hover {
  background-color: #0056b3;
}

.upload-description,
.location-label,
.post-button {
  font-size: 1.1em;
  color: #333333;
  margin-bottom: 5px;
  width: 100%;
  max-width: 300px;
}

.item-select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.item-select option[value=""] {
  color: #999;
}

.location-input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 278px;
}

.post-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  margin-top: 15px;
}

.post-button:hover {
  background-color: #0056b3;
}